---
title: About
---

{% include SectionTop.html %}

<h1>About</h1>
<img class="Fill" src="{{site.baseurl}}/files/BannerAbout.jpg">
<p class="Lead">
    Basics is a conference for men who serve as pastors and Christian workers.
</p>
<p>
    A mix of Bible teaching, breakout sessions, and meals, our conference aims to encourage and equip pastors to do the basics of Christian ministry well (most of the time).
    Given the unique responsibilities and challenges of life in ministry, we also hope that God might use the conference to refresh pastors and send them back to their home
    churches renewed for further Gospel work.
</p>
<p>
    We are delighted that <strong>Christopher Ash</strong> and <strong>Tim Savage</strong> have agreed to join Alistair Begg for Basics 2018.
    This year’s conference will take place May 7-9, 2018 at Parkside Church in Chagrin Falls, Ohio.
</p>

{% include SectionBottom.html %}