---
---


{% include SectionTop.html Class="archive" %}

{% for year in site.data.archive.years %}
<div>
  <h2>{{year.year}}: {{year.title}}</h2>
  <div>
    {{year.description}}
  </div>
  <ul>
    {% for speaker in year.speakers %}
    <li>{{speaker.name}}</li>
    {% endfor %}
  </ul>
  <ul>
    {% for talk in year.talks %}
    <li>
      <h3>{{talk.title}}</h3>
      <ul>
        {% for speaker in talk.speakers %}
        <li>{{speaker.name}}</li>
        {% endfor %}
      </ul>
      {% if talk.cd %}
        <a href="{{talk.cd}}">CD</a>
      {% endif %}
      {% if talk.dvd %}
        <a href="{{talk.dvd}}">DVD</a>
      {% endif %}
      {% if talk.download %}
        <a href="{{talk.download}}">Download</a>
      {% endif %}
      {% if talk.watch %}
        <a href="{{talk.watch}}">Watch</a>
      {% endif %}
      {% if talk.slideshow %}
        <a href="{{talk.slideshow}}">Slideshow</a>
      {% endif %}
      <div>
        {{talk.description}}
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
{% endfor %}

{% include SectionBottom.html Class="archive" %}



