---
title: Details
---

{% include SectionTop.html %}
    
    {% include TitleBar.html %}
    <p>
        <strong>Basics is for men:</strong>
        it is designed for pastors, but is open to missionaries, evangelists, elders, and other Christian workers or those training for such roles.
        To the extent that we value male friendship, support and camaraderie, we do not encourage wives to attend.
    </p>
    <p>
        The conference will be held at <strong>Parkside Church (7100 Pettibone Rd.) in Chagrin Falls, Ohio</strong>.
        Check-in is scheduled to start at 12pm on Monday, May 7, and the conference will conclude with lunch on Wednesday, May 9.
        A warm invitation is also extended to join us for our morning and evening worship services on Sunday, May 6.
        A more detailed schedule will be posted online nearer the conference.
    </p>
    <p>
        <strong>Should you be flying in for the conference</strong>, we will be providing shuttle service from Cleveland Hopkins Airport to
        Parkside on Monday, May 7.  We will also have a return shuttle to Cleveland Hopkins on Wednesday, May 9.  For those staying at the Bertram Inn,
        there will be a shuttle service to and from Parkside Church.  Please see the
        <a href="{{site.baseurl}}/hotels/">hotels page</a> for more information.
    </p>
    <p>
        Conference registration includes all materials and meals: Monday dinner; Tuesday breakfast, lunch, and dinner; Wednesday breakfast and lunch.
    </p>
    <ul>
        <li>$150 before March 1</li>
        <li>$175 after March 1</li>
        <li>$85 Student</li>
    </ul>
    <p>
        <strong>Registration is now open</strong>: register online or download a mail-in registration at
        <a href="https://www.parksidechurch.com/basics18registration" rel="noopener" target="_blank">www.parksidechurch.com/basics18registration</a>.
        Registration closes on April 27.  Limited spots available.
    </p>
{% include SectionBottom.html %}