---
title: Hotels
---

{% include SectionTop.html %}

{% include TitleBar.html %}
<p class="Lead">
    We have blocked rooms at the Bertram Inn again this year.  Please reserve directly with the Bertram but ask for the Parkside Church conference rate.
    Door-to-door shuttle service to and from Parkside will be provided from the Bertram.  There are also many other hotels near Parkside Church should
    you desire to stay elsewhere.
</p>
<h2>The Bertram Inn</h2>
<p>
    3.4 miles from Parkside<br> <strong>$119.00</strong> per night<br>
    “Call in” Reservations only (Mention Parkside Church’s Basics Conference)<br>
    Reservations must be received on or before April 11, 2018
</p>
<p>
    600 N. Aurora Rd.<br>
    Aurora, OH 44202<br>
    Phone: 330-995-0200<br>
    Toll-free: 877-995-0200
</p>
<p><a href="http://www.thebertraminn.com">www.thebertraminn.com </a>
</p>
<h2>Additional Hotels</h2>
<p>
    There are additional hotels within easy driving distance of Parkside in the surrounding suburbs  (Solon, Twinsburg, Beachwood).
</p>
<p>
    One of these hotels, the Hampton Inn of Solon, has offered a discounted rate of $129 for Basics attendees.  These rooms will be held until April 7.
    If you are interested in this hotel, please contact them directly:
</p>
<p>
    Hampton Inn Cleveland-Solon<br>
    6035 Enterprise Parkway<br>
    Solon, Ohio, 44139,<br>
    P: 440-542-0400
</p>
<p><a href="http://group.hamptoninn.com/BasicsConference">http://group.hamptoninn.com/BasicsConference</a>
</p>

{% include SectionBottom.html %}