---
---
{% include SectionTop.html class="Transparent" %}

<img class="Fill" alt="Basics Conference" src="{{site.baseurl}}/files/LogoBasicsLarge.svg" style="max-width:800px; margin:0 auto;" />

<p style="text-align:center; color:#fff; font-size:150%;">
    Cleveland ∙ May 7-9 2018 ∙ #basics2018
</p>
<p style="text-align:center;">
    <a class="Action" href="#livestream-form">Stay Informed</a>
    <a class="Action" href="{{site.baseurl}}/archive">Video Archive</a>
    <br/>
    <a class="Action" href="https://www.parksidechurch.com/visit/news-and-events/event-registrations/basics-conference-2018/">Register for the 2018 Basics Conference</a>
</p>
{% include SectionBottom.html %}

{% include SectionTop.html class="Speakers" %}
    <h2>Speakers</h2>
    <p class="Lead">
        Alistair has invited Christopher Ash and Tim Savage to join him for the 2018 Basics Conference, which will take place May 7-9, 2018 at Parkside Church in
        Chagrin&nbsp;Falls,&nbsp;OH. Go back and listen to previous years in the
        <a href="{{site.baseurl}}/archive">archive</a>.
    </p>
    <ul>
        <li>
            <img class="Fill" alt="Christopher Ash" src="{{site.baseurl}}/files/SpeakerChristopherAsh.jpg" />
            <strong>Christopher Ash</strong>
            <span>Pastor & Writer</span>
            <div class="Divider"></div>
        </li>
        <li>
            <img class="Fill" alt="Christopher Ash" src="{{site.baseurl}}/files/SpeakerChristopherAsh.jpg" />
            <strong>Christopher Ash</strong>
            <span>Pastor & Writer</span>
            <div class="Divider"></div>
        </li>
        <li>
            <img class="Fill" alt="Christopher Ash" src="{{site.baseurl}}/files/SpeakerChristopherAsh.jpg" />
            <strong>Christopher Ash</strong>
            <span>Pastor & Writer</span>
        </li>
    </ul>
{% include SectionBottom.html %}


{% include SectionTop.html class="Signup Transparent" %}
    <h2>Stay Informed</h2>
    <p class="Lead">
        If you’d like an email reminder notifying you when the conference is about to begin, enter your email address below and click “Stay Informed!”.
    </p>
    <!--[if lte IE 8]> <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script><![endif]-->
    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
    <div class='Form'>
        <script>
            hbspt.forms.create({ 
                css: '',
                portalId: '331596',
                formId: '9875b1a8-467e-4e64-9792-8c7027e76022'
            });
        </script>
    </div>
{% include SectionBottom.html %}