---
title: Speakers
featured: ['Alistair-Begg', 'Christopher-Ash', 'Tim-Savage']
---

{% include SectionTop.html %}

    {% include TitleBar.html %}

    <div class="Columns T{{page.featured.size}}">
    {% for speaker in page.featured %}
        <div class="Column C{{forloop.index}}{% if forloop.first %} First{% endif %}{% if forloop.last %} Last{% endif %}">
            <div class="Pad">
                {% include SpeakerFeatured.html speaker=speaker %}
            </div>
        </div>
    {% endfor %}
    </div>

{% include SectionBottom.html %}