<div class="Year {{include.class}}">
    <div class="Title">
        <i class="Icon icon-angle-down"></i>
        <i class="Icon icon-angle-up"></i>
        <h2>{{include.year.year}}</h2>
    </div>
    <div class="Content">
        <div class="Height">
            <div class="Overview">
                <h3>{{include.year.title}}</h3>
                {% include BlockSpeakers.html talk=include.year %}
                <div>
                    {{include.year.description}}
                </div>
            </div>
            <ul class="Sessions Main">
                {% for talk in include.year.sessions %}
                <li>
                    {% include ArchiveYearTalk.html talk=talk %}
                </li>
                {% endfor %}
            </ul>
            <ul class="Sessions Breakout">
                {% for talk in include.year.breakouts %}
                <li>
                    {% include ArchiveYearTalk.html talk=talk %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>