<dl class="Blocks Resources">
    {% if include.talk.cd %}
    <dd><a target="_blank" class="Resource Paid CD" href="{{include.talk.cd}}">CD</a></dd>
    {% endif %}
    {% if include.talk.dvd %}
    <dd><a target="_blank" class="Resource Paid DVD" href="{{include.talk.dvd}}">DVD</a></dd>
    {% endif %}
    {% if include.talk.mp3cd %}
    <dd><a target="_blank" class="Resource Paid MP3CD" href="{{include.talk.mp3cd}}">MP3CD</a></dd>
    {% endif %}
    {% if include.talk.watch %}
    <dd><a target="_blank" class="Resource Free Watch" href="{{include.talk.watch}}">Watch</a></dd>
    {% endif %}
    {% if include.talk.download %}
    <dd><a target="_blank" class="Resource Free Download" href="{{include.talk.download}}">Download</a></dd>
    {% endif %}
</dl>