<ul class="Navigation">
    <li>
        <a href="/">
            <span>Home</span>
            <span></span>
        </a>
    </li>
    <li>
        <a href="/about">
            <span>About</span>
            <span></span>
        </a>
    </li>
    <li>
        <a href="/details">
            <span>Details</span>
            <span></span>
        </a>
    </li>
    <li>
        <a href="/hotels">
            <span>Hotels</span>
            <span></span>
        </a>
    </li>
    <li>
        <a href="/archive">
            <span>Archive</span>
            <span></span>
        </a>
    </li>
    <li>
        <a href="/news">
            <span>News</span>
            <span></span>
        </a>
    </li>
    <li>
        <a href="/photos">
            <span>Photos</span>
            <span></span>
        </a>
    </li>
</ul>
