<div class="Year">
    <div class="Title">
        <h2>{{year.year}} | {{year.title}}</h2>
    </div>
    <div class="Content">
        <div class="Overview">
            <ul>
                {% for speaker in year.speakers %}
                <li>
                    {{speaker}}
                </li>
                {% endfor %}
            </ul>
            <div>
                {{year.description}}
            </div>
        </div>
        <div class="Sessions Main">
            <ul>
                {% for talk in year.sessions %}
                <li>
                    <h3>{{talk.title}}</h3>
                    <ul>
                        {% for speaker in talk.speakers %}
                        <li>
                            {{speaker}}
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="Sessions Breakout">
            <ul>
                {% for talk in year.breakouts %}
                <li>
                    <h3>{{talk.title}}</h3>
                    <ul>
                        {% for speaker in talk.speakers %}
                        <li>
                            {{speaker}}
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>