---
---
<!DOCTYPE html>
<html>
    <head>
        <title>Basics Conference {{page.title}}</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/files/Styles.css"/>
        
    </head>
    <body class="{{page.class}}">
        <img class="Background Wide" src="{{site.baseurl}}/files/FillTexture.jpg"/>
        <img class="Background Tall" src="{{site.baseurl}}/files/FillTexture.jpg"/>
        {% include SectionTop.html class="Nav Transparent" %}
            <a class="Link Home" href="{{site.baseurl}}/">
                <img class="logo" src="{{site.baseurl}}/files/LogoBasicsSmall.svg" alt="Basics Conference" width="63" height="63">
            </a>
            <a class="Link Menu" href="#menu">Menu <i class="icon-reorder"></i></a>
            {% include Navigation.html %}
            <div class="Clear"></div>
        {% include SectionBottom.html %}
        {{ content }}
        {% include SectionTop.html class="Footer Transparent" %}
            <p>
                © 1994 - 2017 Truth For Life. All Rights Reserved.
            </p>
            <p>
                <img height="10" src="{{site.baseurl}}/files/LogoTruthForLife.svg"/> & <img height="10" src="{{site.baseurl}}/files/LogoParkside.png"/>
            </p>
        {% include SectionBottom.html %}
    </body>

    <!-- plainjs library -->
    <script>
        function hasClass(el, className) {
            return el.classList ? el.classList.contains(className) : new RegExp('\\b'+ className+'\\b').test(el.className);
        }
        function addClass(el, className) {
            if (el.classList) el.classList.add(className);
            else if (!hasClass(el, className)) el.className += ' ' + className;
        }
        function removeClass(el, className) {
            if (el.classList) el.classList.remove(className);
            else el.className = el.className.replace(new RegExp('\\b'+ className+'\\b', 'g'), '');
        }

        function addEvent(el, type, handler) {
            if (el.attachEvent) el.attachEvent('on'+type, handler); else el.addEventListener(type, handler);
        }
        function removeEvent(el, type, handler) {
            if (el.detachEvent) el.detachEvent('on'+type, handler); else el.removeEventListener(type, handler);
        }
    </script>

    <!-- mobile nav -->
    <script>
        var MobileMenu;
        MobileMenu = {
        };
        MobileMenu.ElementButton = document.querySelector(".Link.Menu");
        MobileMenu.ElementBody = document.querySelector("body");
        MobileMenu.CSSClass = "Menu";
        MobileMenu.HandlerButton = function(inEvent)
        {
            inEvent.preventDefault();
            inEvent.stopPropagation();

            if(hasClass(MobileMenu.ElementBody, MobileMenu.CSSClass))
            {
                removeClass(MobileMenu.ElementBody, MobileMenu.CSSClass);
                removeEvent(MobileMenu.ElementBody, "click", MobileMenu.HandlerBody);
            }
            else
            {
                addClass(MobileMenu.ElementBody, MobileMenu.CSSClass);
                addEvent(MobileMenu.ElementBody, "click", MobileMenu.HandlerBody);
            }
        };
        MobileMenu.HandlerBody = function(inEvent)
        {
            removeClass(MobileMenu.ElementBody, MobileMenu.CSSClass);
        };
        addEvent(MobileMenu.ElementButton, "click", MobileMenu.HandlerButton);

    </script>

    <!-- accordion -->
    <script>
        var i;
        var Accordion;
        Accordion = {};
        Accordion.Elements = document.querySelectorAll(".Accordion");
        Accordion.ElementActive = false;
        Accordion.Open = function(inElement)
        {
            inElement.IsOpen = true;
            removeClass(inElement, "Hidden");
            var clip = inElement.querySelector(".Content");
            var height = inElement.querySelector(".Height");
            clip.style.height = height.offsetHeight+"px";
        };
        Accordion.Close = function(inElement)
        {
            inElement.IsOpen = false;
            addClass(inElement, "Hidden");
            var clip = inElement.querySelector(".Content");
            clip.style.height = "0px";
        };
        Accordion.Request = function(inElement)
        {
            if(inElement.IsOpen)
            {
                Accordion.Close(inElement);
                Accordion.ElementActive = false;
                return;
            }
            if(Accordion.ElementActive)
            {
                Accordion.Close(Accordion.ElementActive);
            }

            Accordion.ElementActive = inElement;
            Accordion.Open(Accordion.ElementActive);
        };
        for(i=0; i<Accordion.Elements.length; i++)
        {
            Accordion.Close(Accordion.Elements[i]);
            addEvent(Accordion.Elements[i].querySelector(".Title"), "click", function(inEvent)
            {
                console.log("Activating:", inEvent.currentTarget.parentNode);
                Accordion.Request(inEvent.currentTarget.parentNode);
            });
        }
    </script>
    <script>
var test = document.querySelector(".Accordion .Content");
    </script>
</html>