---
---
<!DOCTYPE html>
<html>
    <head>
        <title>Basics Conference {{page.title}}</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/Files/Styles.css"/>
    </head>
    <body class="{{page.class}}">
        <img class="Background Wide" src="{{site.baseurl}}/Files/FillTexture.jpg"/>
        <img class="Background Tall" src="{{site.baseurl}}/Files/FillTexture.jpg"/>
        {% include SectionTop.html class="Nav Transparent" %}
            <a class="Link Home" href="{{site.baseurl}}/">
                <img class="logo" src="{{site.baseurl}}/Files/LogoBasicsSmall.svg" alt="Basics Conference" width="63" height="63">
            </a>
            <a class="Link Menu" href="#menu">Menu <i class="icon-reorder"></i></a>
            {% include Navigation.html %}
            <div class="Clear"></div>
        {% include SectionBottom.html %}
        {{ content }}
        {% include SectionTop.html class="Footer Transparent" %}
            <p>
                © 1994 - 2017 Truth For Life. All Rights Reserved.
            </p>
            <p>
                <img height="10" src="{{site.baseurl}}/Files/LogoTruthForLife.svg"/> & <img height="11" src="{{site.baseurl}}/Files/LogoParkside.png"/>
            </p>
        {% include SectionBottom.html %}
    </body>

    <!-- plainjs library -->
    <script>
        function hasClass(el, className) {
            return el.classList ? el.classList.contains(className) : new RegExp('\\b'+ className+'\\b').test(el.className);
        }
        function addClass(el, className) {
            if (el.classList) el.classList.add(className);
            else if (!hasClass(el, className)) el.className += ' ' + className;
        }
        function removeClass(el, className) {
            if (el.classList) el.classList.remove(className);
            else el.className = el.className.replace(new RegExp('\\b'+ className+'\\b', 'g'), '');
        }

        function addEvent(el, type, handler) {
            if (el.attachEvent) el.attachEvent('on'+type, handler); else el.addEventListener(type, handler);
        }
        function removeEvent(el, type, handler) {
            if (el.detachEvent) el.detachEvent('on'+type, handler); else el.removeEventListener(type, handler);
        }
    </script>

    <!-- mobile nav -->
    <script>
        var MobileMenu;
        MobileMenu = {
        };
        MobileMenu.ElementButton = document.querySelector(".Link.Menu");
        MobileMenu.ElementBody = document.querySelector("body");
        MobileMenu.CSSClass = "Menu";
        MobileMenu.HandlerButton = function(inEvent)
        {
            inEvent.preventDefault();
            inEvent.stopPropagation();

            if(hasClass(MobileMenu.ElementBody, MobileMenu.CSSClass))
            {
                removeClass(MobileMenu.ElementBody, MobileMenu.CSSClass);
                removeEvent(MobileMenu.ElementBody, "click", MobileMenu.HandlerBody);
            }
            else
            {
                addClass(MobileMenu.ElementBody, MobileMenu.CSSClass);
                addEvent(MobileMenu.ElementBody, "click", MobileMenu.HandlerBody);
            }
        };
        MobileMenu.HandlerBody = function(inEvent)
        {
            removeClass(MobileMenu.ElementBody, MobileMenu.CSSClass);
        };
        addEvent(MobileMenu.ElementButton, "click", MobileMenu.HandlerButton);

    </script>

    <!-- accordion -->
    <script>
        var Accordion;
        Accordion = {};
        Accordion.Elements = false;
        Accordion.ElementActive = false;
        Accordion.Init = function()
        {
            var i;
            var panel;
            Accordion.Elements = document.querySelectorAll(".Accordion");
            for(i=0; i<Accordion.Elements.length; i++)
            {
                panel = Accordion.Panel(Accordion.Elements[i]);
                panel.Panel.Methods.Close(true);
                panel.Panel.Handlers.Click = function(inElement)
                {
                    Accordion.Request(inElement);
                };
            }
        };
        Accordion.Panel = function(inElement)
        {
            inElement.Panel = {
                Goal: {
                    Timer:false,
                    Count:0,
                    Duration:20,
                    Start:0,
                    Stop:0,
                    Value:0,
                    InTransition:false,
                    Open:false
                },
                Members: {
                    Content: inElement.querySelector(".Content"),
                    Height: inElement.querySelector(".Height"),
                    Title: inElement.querySelector(".Title")
                },
                Handlers: {
                    Click:function(inElement)
                    {
                    },
                    Update:function(inFirstTime)
                    {
                        var time;
                        var value;

                        if(inFirstTime)
                        {
                            removeClass(inElement, "Done");
                            if(inElement.Panel.Goal.Open)
                            {
                                addClass(inElement, "Open");
                            }
                            else
                            {
                                removeClass(inElement, "Open");
                            }
                        }

                        time = inElement.Panel.Goal.Count / inElement.Panel.Goal.Duration;
                        inElement.Panel.Goal.Value = inElement.Panel.Goal.Start + time*(inElement.Panel.Goal.Stop-inElement.Panel.Goal.Start);
                        inElement.Panel.Members.Content.style.height = parseInt(inElement.Panel.Goal.Value)+"px";
                        inElement.Panel.Goal.Count++;

                        if( inElement.Panel.Goal.Count > inElement.Panel.Goal.Duration )
                        {
                            inElement.Panel.Goal.InTransition = false;
                            addClass(inElement, "Done");
                            if(inElement.Panel.Goal.Open)
                            {
                                inElement.Panel.Members.Content.style.height = "auto";
                            }
                        }
                        else
                        {
                            inElement.Panel.Goal.InTransition = true;
                            inElement.Panel.Goal.Timer = setTimeout(inElement.Panel.Handlers.Update, 17);
                        }
                    }
                },
                Methods:{
                    Open: function(inForce)
                    {
                        inElement.Panel.Goal.Open = true;
                        inElement.Panel.Goal.Start = inElement.Panel.Goal.Value;
                        inElement.Panel.Goal.Stop = inElement.Panel.Members.Height.offsetHeight;
                        if(inForce)
                        {
                            inElement.Panel.Goal.Count = inElement.Panel.Goal.Duration;
                        }
                        else
                        {
                            inElement.Panel.Goal.Count = 0;
                        }
                        inElement.Panel.Handlers.Update(true);
                    },
                    Close: function(inForce)
                    {
                        inElement.Panel.Goal.Open = false;
                        inElement.Panel.Goal.Start = inElement.Panel.Goal.Value;
                        inElement.Panel.Goal.Stop = 0;
                        if(inForce)
                        {
                            inElement.Panel.Goal.Count = inElement.Panel.Goal.Duration;
                        }
                        else
                        {
                            inElement.Panel.Goal.Count = 0;
                        }
                        inElement.Panel.Handlers.Update(true);
                    }
                }
            };

            inElement.Panel.Members.Content.style.overflow = "hidden";
            addEvent(inElement.Panel.Members.Title, "click", function(inEvent)
            {
                inElement.Panel.Handlers.Click(inElement);
            });

            return inElement;
        }
        Accordion.Request = function(inElement)
        {
            if(inElement.Panel.Goal.Open)
            {
                inElement.Panel.Methods.Close();
                Accordion.ElementActive = false;
                return;
            }
            if(Accordion.ElementActive)
            {
                Accordion.ElementActive.Panel.Methods.Close();
            }
            Accordion.ElementActive = inElement;
            Accordion.ElementActive.Panel.Methods.Open();
        };
        Accordion.Init();
    </script>
</html>